
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>

<h1>Edit User</h1>

<form th:action="@{/users/update}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}">

    <label for="firstname">Name:</label>
    <input type="text" th:field="*{firstName}" id="firstname"><br>

    <label for="lastname">Last Name:</label>
    <input type="text" th:field="*{lastName}" id="lastname"><br>

    <label for="email">Email:</label>
    <input type="email" th:field="*{email}" id="email"><br>

    <input type="submit" value="Update">
</form>

<a th:href="@{/users/}">Back to Users</a>

</body>
</html>

    